* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(238, 245, 242);
  font-family: "Golos Text", sans-serif;
}

header {
  height: 5em;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0em;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: 100%;
}

.container span {
  color: rgb(94, 198, 37);
}

header .container h4 {
  font-size: 2.3rem;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  padding: 2.4rem;
  transition: all 250ms linear 0s;
}

header nav ul li a:hover{
  color: rgb(94, 198, 37);
}

.first-section {
  background-image: url(./images/home-1.jpg);
  height: 92vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
  line-height: 50px;
}

.center h2 {
  font-size: 50px;
}

.center p {
  font-size: 25px;
}

.second-section{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 130px;
  gap: 90px;
}

.second-section img{
  border-radius: 10px;
}

.second-section div h2{
  font-size: 50px;
  margin-bottom: 2rem;
}

.second-section p{
  font-size: 25px;
  line-height: 35px;
  text-align: justify ;
}

.second-section h4{
  color: rgb(94, 198, 37);
  margin-bottom: 2rem;
}

#text-about{
  margin-top: 2rem;
}

.third-section {
  text-align: center;
  height: 100vh;
}

.third-section h2 {
  font-size: 50px;
  margin-bottom: 2rem;
}

.third-section p {
  line-height: 35px;
  font-size: 25px;
}

.main-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 90px;
}

.div-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: rgb(70, 61, 61);
  width: 25%;
  border-radius: 10px;
  color: #fff;
  gap: 20px;
}

h4 {
  font-size: 30px;
}

.div-services p {
  font-size: 25px;
}

.projects-section {
  width: 100%;
  text-align: center;
}

.projects-section h2 {
  font-size: 50px;
  margin-bottom: 2rem;
}

#text-projects {
  font-size: 25px;
  margin-bottom: 60px;
  margin-top: 10px;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.card-projects {
  background-color: rgb(255, 255, 255);
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card-projects img {
  width: 90%;
  padding: 30px 0px 0px 0px;
}

.card-projects p {
  padding-right: 40px;
  padding-left: 40px;
  text-align: center;
  font-size: 20px;
}

.more-projects{
  display: none;
}

.team-section {
  text-align: center;
  margin-top: 100px;
}

.team {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.team-section h2 {
  font-size: 50px;
  margin-bottom: 2rem;
}

.team-section p {
  font-size: 25px;
  margin-bottom: 50px;
}

.card-team {
  width: 20%;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.photo-team {
  width: 70%;
  border-radius: 50%;
}

.itens-social-media {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.itens-social-media img {
  width: 40px;
}

.contact-section h2 {
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 2rem;
}

.contact-section p {
  font-size: 25px;
  margin-bottom: 50px;
  text-align: center;
}

.form-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.feed-form input {
  height: 60px;
  border-radius: 5px;
  background: white;
  margin-bottom: 15px;
  border: none;
  padding: 0 20px;
  font-weight: 300;
  font-size: 14px;
  color: black;
}

.button_submit:hover,
.feed-form input:hover {
  transform: scale(1.009);
  box-shadow: 0px 0px 3px 0px #212529;
  transition: 0.2s;
}

.button_submit {
  width: 100%;
  height: 54px;
  font-size: 14px;
  background: rgb(198, 198, 13);
  border-radius: 5px;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

#txt {
  height: 110px;
}

.btn{
  text-align: center;
  margin-top: 40px;
}

#btn-more{
  width: 290px;
  height: 60px;
}

.button {
  --color: rgb(198, 198, 13);
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  background-color: var(--color);
  text-align: center;
  cursor: pointer;
}

.button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: rgb(228, 228, 34);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.button:hover:before {
  top: -30px;
  left: -30px;
}

footer {
  background-color: rgb(87, 86, 86);
  color: white;
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-top: 150px;
}

@media (min-width: 1301px) and (max-width: 1900px) {
  .second-section div {
    padding-top: 200px;
    height: 100%;
  }

  .div-services {
    height: 100%;
    flex-wrap: wrap;
  }
}

@media (min-width: 649px) and (max-width: 1300px) {
  nav {
    display: none;
  }

  .one,
  .two,
  .three {
    background-color: rgb(0, 0, 0);
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
  }

  /* fullscreen */
  .menu-section.on {
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-section.on nav {
    display: block;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 115px;
    top: 20px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  header .container h4 {
    font-size: 2rem;
  }

  .menu-section.on nav ul {
    text-align: center;
    display: block;
    padding: 0;
  }

  .menu-section.on nav ul a {
    transition-duration: 0.5s;
    font-size: 1.8rem;
    line-height: 1rem;
    display: block;
  }

  .first-section .center {
    width: 90%;
  }

  .first-section .center h2 {
    font-size: 50px;
    width: 100%;
    margin-bottom: 15px;
  }

  .first-section .center p {
    font-size: 20px;
  }

  .second-section {
    flex-direction: column;
    padding: 25px;
   }
 
   .second-section img{
     width: 100%;
    order: 2;
   }
 
   .second-section h2, h4{
     text-align: center;
   }
 
   .second-section h2{
     margin-top: 100px;
   }

  .third-section {
    height: 100%;
    margin-top: 100px;
  }

  .third-section p {
    padding: 25px;
    text-align: justify;
  }

  .main-services {
    margin: 0;
    flex-direction: column;
  }

  .div-services {
    width: 80%;
    height: 100%;
  }

  #text-section {
    padding-left: 70px;
    padding-right: 70px;
  }

  .projects-section {
    margin-top: 100px;
  }

  .projects-section p {
    padding: 25px;
    text-align: justify;
  }

  .projects {
    flex-direction: column;
  }

  .card-projects {
    width: 100%;
    height: 100%;
    gap: 0;
  }

  .card-projects h4 {
    margin-top: 15px;
  }

  .team-section p {
    text-align: justify;
    padding: 25px;
  }

  .team {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card-team {
    width: 40%;
    height: 100%;
    padding: 20px;
    gap: 0;
  }

  .feed-form {
    width: 90%;
  }
}

@media (max-width: 650px) {
  nav {
    display: none;
  }

  .one,
  .two,
  .three {
    background-color: rgb(0, 0, 0);
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
  }

  /* fullscreen */
  .menu-section.on {
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-section.on nav {
    display: block;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 45px;
    top: 20px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  header .container h4 {
    font-size: 2rem;
  }

  .menu-section.on nav ul {
    text-align: center;
    display: block;
    padding: 0;
  }

  .menu-section.on nav ul a {
    transition-duration: 0.5s;
    font-size: 1.8rem;
    line-height: 1rem;
    display: block;
  }

  .first-section .center {
    width: 90%;
  }

  .first-section .center h2 {
    font-size: 50px;
    width: 100%;
    margin-bottom: 15px;
  }

  .first-section .center p {
    font-size: 20px;
  }

  .second-section {
   flex-direction: column;
   padding: 25px;
  }

  .second-section img{
    width: 100%;
   order: 2;
  }

  .second-section h2, h4{
    text-align: center;
  }

  .second-section h2{
    margin-top: 100px;
  }


  .third-section {
    height: 100%;
    margin-top: 100px;
  }

  .third-section p {
    padding: 25px;
    text-align: justify;
  }

  .main-services {
    margin: 0;
    flex-direction: column;
  }

  .div-services {
    width: 90%;
    height: 100%;
  }

  .projects-section {
    margin-top: 100px;
  }

  .projects-section p {
    padding: 25px;
    text-align: justify;
  }

  .projects {
    flex-direction: column;
  }

  .card-projects {
    width: 90%;
    height: 100%;
    gap: 0;
  }

  .card-projects h4 {
    margin-top: 15px;
  }

  .team-section p {
    text-align: justify;
    padding: 25px;
  }

  .team {
    flex-direction: column;
  }

  .card-team {
    width: 90%;
    height: 100%;
  }

  .feed-form {
    width: 90%;
  }
}
