* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(238, 245, 242);
	font-family: "Golos Text", sans-serif;
}

.hero {
	display: flex;
	padding: 60px 80px 0; 
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
	height: 80dvh;
}

.hero-left {
	flex: 1;
	max-width: 30%;
	margin-top: 4rem;
}

.hero-left h1 {
	font-size: 40px;
	margin-bottom: 30px;
	line-height: 1.2;
}

.highlight {
	color: #f9c21a;
}

.watch-intro {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 18px;
	margin-top: 10px;
}

.play-btn {
	width: 40px;
	height: 40px;
	border: none;
	background-color: #ef4c3c;
	color: white;
	font-size: 18px;
	border-radius: 50%;
	cursor: pointer;
}

.hero-center {
	flex: 1;
	width: 30%;
	text-align: center;
	position: relative;
	z-index: 2;
}

.handyman-img {
	width: 120%;
	height: auto;
	position: relative;
	bottom: 0.9rem;
	z-index: 3;
	right: 3.5rem;
}

.hero-right {
	flex: 1;
	max-width: 30%;
	display: flex;
	justify-content: flex-end;
	margin-top: 5rem;
	z-index: 10;
}

.form-card {
	background: white;
	padding: 30px;
	border-radius: 12px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-card h2 {
	font-size: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.form-card input,
.form-card select {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: none;
	border-bottom: 1px solid #ccc;
	background: transparent;
}

.form-card button {
	background-color: #ef4c3c;
	color: white;
	padding: 12px;
	border: none;
	width: 70%;
	border-radius: 6px;
	cursor: pointer;
	font-weight: bold;
	margin-top: 1rem;
}

.stats {
	background-color: #f9c21a;
	padding: 4rem 4rem 4rem 6rem;
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 5rem;
	position: relative;
	z-index: 1;
	height: 20dvh;
}

.stat h3 {
	font-size: 2.3rem;
	margin: 0;
}

.stat .plus {
	color: #ef4c3c;
	font-weight: bold;
}

.stat p {
	margin-top: 5px;
	font-size: 16px;
}
